body{
    background-color: snow;
    font-family: Verdana, Geneva, Tahoma, sans-serif,;
    font-size: 16px;
    text-align: center;

}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.container{
    width: 90%;
    background-color: #87CEEB;
    margin: 0 auto;
    height: 100%;

}
h1.title{
    text-align: left;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px ;
}

.navigation{
    background-color: black;
    color: white;
    overflow: hidden;
}
.navigation ul li{
    list-style-type: none;
    float: left;
    border-right: 2px solid #87CEEB;
    padding: 7px 10px;
    
    font-weight: 200;
}
.navigation ul li{
    text-transform: uppercase;
    font-weight: 200;
}

.navigation ul li:hover{
text-transform: lowercase;
color: whitesmoke;
transition: ease-in-out 9ms;}

.navigation ul li:hover a{
text-decoration: underline;
    color: whitesmoke;

}
.img{
    width: 100%;
    height: 100vh;
}
.kabete{
    height: 300px;;
    width: 500px;
    float: left;
   
}
.design{
    background-color: black;
    color: white;
    padding: 15px;  
}
/* .design:hover{
    transform: rotate(-1deg);
     
} */

.text{
    text-align: justify;
}
/* slideshow starts here */
.container2 {
	padding: 0rem;
    /* padding was initially 5 */
}

.slider-wrapper {
	position: relative;
	max-width: 1000rem;
    /* max widh changed bcoz of pic size and resoluion */
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* unfinished to be continued later */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}
/* slideshow ends here */